.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  padding: 60px 100px;
  background-color: #fff;
}

.about-image img {
  width: 450px;
  height: auto;
  /* border-radius: 10px; */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}



.about-content {
  max-width: 500px;
  font-weight: 500;
}

.about-content h2 {
  color: #4caf50;
  font-size: 26px;
  margin-bottom: 15px;
  font-weight: 700;
}

.about-content p {
  color: #333;
  line-height: 1.6;
  font-size: 16px;
}
