.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  border-bottom: 2px solid #e5e5e5;
  background: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px; /* space between logo and text */
}

.logo-img {
  width: 150px;  /* adjust as needed */
  height: 150px;
}

.logo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.dhativi-text {
  font-weight: 700;
  font-size: 34px;
  color: #000;
}

.green-line {
  width: 90%; /* line matches the width of DhaTvi text */
  height: 2px;
  background-color: #00995e;
  margin: 2px 0;
}

.business-text {
  font-size: 13px;
  color: #000;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  min-width: 200px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
  font-weight: 500;
  color: #333
}

.login-btn {
  background: #0094ff;
  border: none;
  color: white;
  padding: 8px 18px;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
  width: 140px;
}

.login-btn:hover {
  background: #007be0;
}

.nav-links li {
  cursor: pointer; /* 👈 shows pointer hand when hovering */
  transition: color 0.3s ease;
}

.nav-links li:hover {
  color: #008000; /* optional: green hover color */
}
