.saved-job-container {
  background-color: #f9f9f9;
  padding: 20px;
}

.saved-job-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.saved-job-table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #007bff;
  background-color: #fff;
}

.saved-job-table th,
.saved-job-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.saved-job-table th {
  background-color: #f5f5f5;
  font-weight: 600;
}

.action-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.delete-icon {
  color: rgb(207, 34, 34);
  cursor: pointer;
  transition: 0.3s;
}

.view-icon {
  color: green;
  cursor: pointer;
  transition: 0.3s;
}

.delete-icon:hover {
  transform: scale(1.2);
}

.view-icon:hover {
  transform: scale(1.2);
}